@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@600&family=Mali:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,500&display=swap');

 
body 
{
position: absolute;
width: 1024px;
height: 2000px;
margin: 0 auto;
}


header
{ 
position: absolute;
width: 1440px;
height: 1797px;
left: 0px;
top: -3px;

background: linear-gradient(89.04deg, rgba(76, 41, 204, 0.104) 0.82%, rgba(254, 172, 149, 0.16) 99.24%);
border-radius: 9px;

display: flex;
margin: 0 auto;
justify-content: center; 
}
 

header img
{
    position: absolute;
    width: 456px;
    height: 337px;
    left: -36px;
    top: 21px;

}

header h1 {
position: absolute;
width: 753px;
height: 195px;
left: 590px;
top: 72px;

font-family: PT Sans;
font-style: normal;
font-weight: bold;
font-size: 70px;
line-height: 91px;
text-align: right;

color: #000000;
}

h2{
position: absolute;
width: 988px;
height: 77px;
left: 230px;
top: 381px;

font-family: 'Caveat';
font-style: normal;
font-weight: bold;
font-size: 50px;
line-height: 65px;
text-align: center;

color: #4C29CC;
}

 h3
{
position: absolute;
width: 1247px;
height: 308px;
left: 86px;
top: 1350px;

font-family: PT Sans;
font-style: normal;
font-weight: bold;
font-size: 45px;
line-height: 58px;
text-align: center;

color: #07014D;

}

.description 
{

position: absolute;
width: 1346px;
height: 809px;
left: 55px;
top: 530px;

font-family: PT Sans;
font-style: normal;
font-weight: normal;
font-size: 40px;
line-height: 52px;

color: #333333;
}

main
{

position: absolute;
width: 1440px;
height: 500px;
left: 0px;
top: 1794px;
border-radius: 9px;

background: linear-gradient(90deg, rgba(162, 161, 238, 0.18) 0%, rgba(196, 196, 196, 0) 100%), linear-gradient(180deg, rgba(162, 161, 238, 0.11) 0%, rgba(196, 196, 196, 0) 100%);

}


.main h1
{
    position: absolute;
    width: 1007px;
    height: 62px;
    left: 366px;
    top: 43px;
    
    font-family: PT Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 62px;
    
    color: #4C29CC; 
}


ul li
{
    display: flex;
    justify-content:center;
    list-style: none;
    /* flex-direction:row; */
}

.labs-list
{
    /* flex-direction:row; */
}

.link
{
    font-family: 'Caveat', cursive;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 39px;
    text-align: center;
    
    color: #000000; 
}


footer 
{
position: absolute;
width: 1440px;
height: 200px;
left: 0px;
top: 2293px;

background: linear-gradient(89.04deg, rgba(76, 41, 204, 0.104) 0.82%, rgba(254, 172, 149, 0.16) 99.24%);
border-radius: 9px;
}

 
 a
{
    text-decoration:none;
} 

a:hover
{
    color: rgb(243, 131, 237);
} 
